{% extends 'base.html.twig' %}

{% block title %}My team
{% endblock %}

{% block body %}
	{% include "_navbar.html.twig" %}
	{% if pokemons.snapshot %}
		<h1 class="title">your pokemons</h1>
	{% else %}
		
	<h1 class="title">No pokemons</h1>
	{% endif %}
	<div class="pokemon-list">
	
	

		{% for pokemon in pokemons %}
			{% if pokemon %}

				<div class="a-box">
					<div class="img-container">
						<div class="img-inner">
							<div class="inner-skew">
								<img src="{{ pokemon.sprite }}">
							</div>
						</div>
					</div>
					<div class="text-container">
						<h3>#{{ pokemon.pokedexNumber }}
							{{ pokemon.name }}</h3>
						{# <div>
							{{ pokemon.type1 }}
							{% if pokemon.type2 %}
								/
								{{ pokemon.type2 }}
							{% endif %}
						</div> #}
						<div><br><a href={{ '/deletePokemon/' ~ pokemon.name }} class="save-button">Release</a>
						</div>

					</div>
				</div>
			{% endif %}
		{% endfor %}

	</div>

{% endblock %}
