{% extends 'base.html.twig' %}

{% block title %}My team
{% endblock %}

{% block body %}
	{% include "_navbar.html.twig" %}

	<div class="pokemon-list">

		{% for pokemon in pokemons %}

			<div class="a-box">
				<div class="img-container">
					<div class="img-inner">
						<div class="inner-skew">
							<img src="{{ pokemon.sprite }}">
						</div>
					</div>
				</div>
				<div class="text-container">
					<h3>#{{ pokemon.pokedexNumber }}
						{{ pokemon.name }}</h3>
					{# <div>
						{{ pokemon.type1 }}
						{% if pokemon.type2 %}
							/
							{{ pokemon.type2 }}
						{% endif %}
					</div> #}
					<div><br><a href="#" class="save-button">Release</a>
					</div>

				</div>
			</div>

		{% endfor %}
	</div>

{% endblock %}
