{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% include "_navbar.html.twig" %}

	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<div class="login-form">
		

		{{ form_start(registrationForm) }}
        <h1>join the experience</h1>
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword) }}

		<button type="submit">Register <img class="pikachu" src="/build/images/pikachu.png"></button>
		{{ form_end(registrationForm) }}
	</div>

{% endblock %}
