{% extends 'base.html.twig' %}

{% block title %}Pokemons
{% endblock %}

{% block body %}
	{% include "_navbar.html.twig" %}
	<h1 class="title">search for a pokemon and add it to your team</h1>
	<div class="login-form">
		<form method="POST">
			<input class="search-input" type="text" name="search" placeholder="Search Pokemon">
			{% if closest %}
				<p class="search-suggestion">Would you mean
					<a href="">{{ closest|title }}?</a>
				</p>
			{% endif %}
			<button class="search-button" type="submit">Search</button>
		</form>
	</div>
	<div class="pokemon-list">

		{% for pokemon in pokemons %}

			<div class="a-box">
				<div class="img-container">
					<div class="img-inner">
						<div class="inner-skew">
							<img src="{{ pokemon.sprite }}">
						</div>
					</div>
				</div>
				<div class="text-container">
					<h3>#{{ pokemon.pokedexNumber }}
						{{ pokemon.name }}</h3>
					<div>
						{{ pokemon.type1 }}
						{% if pokemon.type2 %}
							/
							{{ pokemon.type2 }}
						{% endif %}
					</div>
					{% if app.user %}
						<div>
							<br><a href={{ '/savePokemon/' ~ pokemon.name }} class="save-button">I choose you !!</a>
						</div>

					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
